{% extends "ingresado.html" %}

{% block title %}Sobre{% endblock %}

{% block page_content %}


<html>
<head>
<title>Sobre</title>
</head>
<body>

<h1>Realiazado por: </h1>
<p>Gastón I. Cejas<p>

<ul>
	<li><b>Materia:</b> Paradigmas de programación</li>
<p><p>
<li><b>Ciclo Lectivo:</b> 2019</li> 
</ul>
<p>*************************************************************************************************</p>
</body>
</html>

{% endblock %}