{% extends "ingresado.html" %}

{% block page_content %}
<!--Asigno los nombre de las columas de la tabla-->
<table style="width:100%">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Direccion</th>
    <th>Pais</th>
    <th>Documento</th>
    <th>Fecha de Alta</th>
    <th>Correo Electronico</th>
    <th>Trabajo</th>
  </thead>
  <!--recorro la lista_csv (ahora row) y agrego cada clave valor a registro-->
</tr>
  <tbody>
  {%for registro in row%}
      <tr>
    <!--vuelvo a iterar, y sobre cada clave contenida en la clave campo en registro, imprimo sus valores-->            
              {% for key, campo in registro.items() %}
                  <td>{{campo}}</td>
              {% endfor %}
      </tr>
  {% endfor %}
  <tr>
      
  </tr>
  </tbody>
</table>

{% endblock %}